<%= simple_form_for(@event) do |f| %>
 <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <%= f.input :name, label: "What's your event called?",
        input_html: { class: "input" }, label_html: {class: "label"}, wrapper: false,
      autofocus: true %>
    </div>
    <div class="control">
      <%= f.input :start_date, label: "when? ", input_html: { class: "input" }, label_html: {class: "label"}, wrapper: false,
      autofocus: true %>

      <%= f.input :end_date, label:"til ", input_html: { class: "input" }, label_html: {class: "label"}, wrapper: false,
      autofocus: true %>
    </div>
    <div class="control">
      <%= f.input :cover_img, label: "Upload an image ",input_html: { class: "input" }, label_html: {class: "label"}, wrapper: false,
      autofocus: true %>
    </div>
    <div class="control">
      <%= f.input :location, label: "Where? ",input_html: { class: "input" }, label_html: {class: "label"} , wrapper: false,
      autofocus: true %>
    </div>
    <div class="control">
      <%= f.input :description, input_html: { class: "textarea" }, label_html: {class: "label"}, placeholder: "whats's it all about? ", wrapper: false,
      autofocus: true %>
    </div>
    <div class="control">
      <%= f.input :host, input_html: { class: "input" }, label: "Add co-host by username ",label_html: {class: "label"}, wrapper: false,
      autofocus: true %>
    </div>
  </div>
 <%= f.button :submit, class: "button is-warning is-rounded" %>
<% end %>

<%# <%= f.input :Event, label: "Go on, Event it out!",
  input_html: { class: "textarea" }, wrapper: false,
  label_html: {class: "label"}, placeholder: "What do you want to Event?...",
  autofocus: true %>
