<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
</head>
<body>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

      <h2 class="title is-3"><%= @event.name %></h2>
      <p class="subtitle is-4">Co-hosts: @<%= @event.host %> </p>
        <%= simple_form_for(@event) do |f| %>
          <%= f.error_notification %>

              <div class="columns">

                <div class="column">
                  <%= image_tag "event_img/#{@event.id}/cover/#{@event.cover_filename}" if @event.cover_filename? %>

                  <p class="subtitle is-4"><%= @event.start_date %>|<%= @event.end_date %></p>
                  <p class="title is-"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @event.city %></p>
                  <p class="title is-"><i class="fa fa-home" aria-hidden="true"></i> <%= @event.venue %></p>
                  <br>
                  <strong>Description:</strong><br>
                  <%= @event.description %>

                </div>
              </div>

            <br>

          <% end %>

          <br>
          <% if event_author(@event) %>
          <%= link_to 'Edit', edit_event_path(@event), class: "button is-dark is-rounded" %> |
          <% end %>
          <%= link_to 'Back', url_for(:back), class: "button is-dark is-rounded" %>

      </div>
    </div>
  </div>
</section>
</body>
</html>
